// colors
$grey: #62635b;
$orange: #dc4b0f;
$white: whitesmoke;
$black: #111010;

// sizes
$border-button-radius: 10px;

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin border-round {
  border-radius: 2%;
}

@mixin box-shadow {
  -webkit-box-shadow: 5px 5px 15px 5px #000000; 
box-shadow: 5px 5px 15px 5px #000000;
}