@use "../../theme";

.page {
  height: 90vh;
  width: 100vw;
  overflow-y: hidden;
  background-color: theme.$grey;
  @include theme.flex-column-center;

  .card {
    height: 75%;
    width: 75%;
    max-width: 600px;
    @include theme.border-round;
    @include theme.box-shadow;
    background-color: theme.$orange;

    .left,
    .right {
      width: 50%;
      height: 100%;
      @include theme.flex-column-center;
    }

    .middle {
      width: 2px;
      height: 90%;
      background-color: theme.$black;
    }

    form {
      height: 75%;
      width: 90%;
      @include theme.flex-column-space;

      .label-input {
        width: 100%;
        @include theme.flex-column-space;

        label,
        input {
          height: 2rem;
          line-height: 2rem;
        }

        label {
          background-color: inherit;
          color: theme.$black;
        }

        input,
        input:active,
        input:focus {
          background-color: theme.$light;
          width: 70%;
          padding: 0 5px;
          font-size: 1rem;
          border: none;
          outline: none;
          border-bottom: 1px solid theme.$black;
        }

        input:focus {
          border-bottom: 2px solid theme.$white;
        }
      }
    }

    button {
      @include theme.button;
    }
  }
}

.column {
  @include theme.flex-column-center;
}

.row {
  @include theme.flex-row-center;
}

.wide {
  max-width: 1600px !important;
}

FontAwesomeIcon {
  color: white;
}
