@use "../../theme";

header {
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: theme.$orange;

  nav {
    width: 60%;

    ul {
      display: flex;
      justify-content: space-around;

      .nav {
        color: theme.$black;
        text-decoration: underline 5px;
        text-decoration-color: theme.$orange;
        text-underline-offset: 5px;
        transition: text-decoration-color 100ms ease-in;
      }
      .active {
        text-decoration-color: theme.$black;
        transition: text-decoration-color 100ms ease-in;
      }
    }
  }
}
